<!doctype html>
<html lang="es">
<%- include('partials/head.html') %>

  <body>
    <%- include('partials/navigation.html')%>


      <div class="container">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Inicio</a></li>
          <li class="breadcrumb-item"><a href="/lo-clave-de-la-vacunacion">Sobre la Vacunación</a></li>
          <li class="breadcrumb-item"><a href="/lo-clave-de-la-vacunacion">Lo clave de la vacunación</a></li>
          <li class="breadcrumb-item active" aria-current="page">Descubre los beneficios de las vacunas combinadas</li>
        </ol>
      </div>


      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-6 pt-5 mt-5">
            <h4>Lo clave de la vacunación</h4>
            <h1>Descubre los beneficios<br />de las vacunas combinadas</h1>
            <p>¿Has oído hablar de las vacunas combinadas? Estas te ayudarán a protegerte de diversas enfermedades y a
              vivir
              de 0 a 100.
            </p>
            <a href="#sigue-aprendiendo" id="sigue-aprendiendo" class="btn btn-custom my-4">Sigue aprendiendo <img
                src="/images/arrow_downward.svg" class="ms-2" /></a>
          </div>
          <div class="col-12 col-lg-6 text-end mt-4">
            <img src="/images/herodescubre.png" alt="hero home" />
          </div>
        </div>
      </div>


      <section class="container">
        <div class="row">
          <div class="col-12 my-5 py-5 text-center">
            <h2>Protege a tus hijos de hasta 5 enfermedades con una sola vacuna</h2>
            <p>
              Los padres y los profesionales de la salud prefieren la administración de vacunas combinadas porque reduce
              la
              cantidad de inyecciones y visitas al consultorio del médico y al centro de salud, además de mejorar las
              tasas
              de inmunización y promover una mayor comodidad y ahorro de costos.<sup>1</sup><br /><br />
              <strong>Recibe más información sobre algunas de las enfermedades que se pueden prevenir con las vacunas
                combinadas:</strong>
            </p>
          </div>

          <div class="row box-white p-5">
            <div class="col-12 col-lg-6">
              <h3>Tosferina</h3><br />
              <strong>En Colombia, en 2021, el 64% de los casos requirió
                hospitalización.<sup>2</sup></strong><br /><br />
              La tosferina es una enfermedad respiratoria contagiosa,causada por un tipo de bacteria llamada Bordetella
              pertussis que se transmite a través de gotas de secreciones respiratorias.<sup>2</sup>
            </div>
            <div class="col-12 col-lg-6 mb-4"><img src="/images/imgbebe.png" /></div>
            <div class="col-12 col-lg-6 d-flex align-items-start">
              <img src="/images/orangeico1.png" class=" me-3" />
              <p>El tiempo de incubación se estima entre 5 y 10 días. En sus primeras etapas, la tosferina no parece ser
                algo más que un resfriado común.<sup>3</sup>
              </p>
            </div>
            <div class="col-12 col-lg-6 d-flex align-items-start">
              <img src="/images/orangeico2.png" class="me-3" />
              <p>La infección es más leve en los adolescentes y los adultos en comparación con los bebés y los niños,
                especialmente en los que se vacunaron contra la enfermedad.<sup>3</sup>
              </p>
            </div>
            <div class="col-12 text-center">
              <a href="#" class="text-orange fw-bold mt-4">
                Conoce más sobre la tosferina
                <img src="/images/arroworangenext.svg">
              </a>
            </div>
          </div>


          <div class="w-100 my-5"></div>

          <div class="row box-white p-5">
            <div class="col-12 col-lg-6">
              <h3>Tétanos</h3><br />
              El tétanos es diferente de otras enfermedades prevenibles mediante vacunas porque no se transmite de
              persona a
              persona. Las bacterias se encuentran generalmente en el suelo, el polvo y el estiércol, y entran en el
              cuerpo
              a través de cortes o heridas punzantes causadas por objetos contaminados.<sup>4</sup>
            </div>
            <div class="col-12 col-lg-6 mb-4"><img src="/images/imgtetanos.png" /></div>
            <div class="col-12 col-lg-6 d-flex align-items-start">
              <img src="/images/orangeico1.png" class=" me-3" />
              <p>El tiempo desde la exposición hasta la enfermedad, suele estar entre 3 y 21 días (promedio de 8
                días).<sup>5</sup></p>
            </div>
            <div class="col-12 col-lg-6 d-flex align-items-start">
              <img src="/images/orangeico3.png" class="me-3" />
              <p>Para evitar el contagio, aplica primeros auxilios incluso a heridas pequeñas y no infectadas, como
                ampollas, raspaduras o cualquier corte en la piel.
              </p>
            </div>

            <div class="col-12 offset-lg-3 col-lg-6 mt-4 d-flex align-items-start">
              <img src="/images/orangeico4.png" class="me-3" />
              <p>Lávate las manos con frecuencia con agua y jabón, o utiliza un desinfectante para manos a base de
                alcohol
                si no es posible lavarlas. De todos modos, la mejor manera de prevenir el tétanos es
                vacunarse.<sup>6</sup>
              </p>
            </div>

            <div class="col-12 text-center">
              <a href="#" class="text-orange fw-bold mt-4">
                Conoce más sobre el tétanos
                <img src="/images/arroworangenext.svg">
              </a>
            </div>
          </div>

          <div class="w-100 my-5"></div>

          <div class="row box-white p-5">
            <div class="col-12 col-lg-6">
              <h3>Poliomielitis</h3><br />
              <strong>Entre 1 y 5 personas de cada 100 desarrollan afectación neurológica; y 1 de cada 200 casos
                desarrolla
                parálisis de extremidades.<sup>7</sup></strong><br /><br />
              La poliomelitis es una enfermedad altamente contagiosa que afecta principalmente a niños menores de 5
              años.<sup>8</sup>
            </div>
            <div class="col-12 col-lg-6 mb-4"><img src="/images/heropollo.png" /></div>
            <div class="col-12 col-lg-6 d-flex align-items-start">
              <img src="/images/orangeico5.png" class=" me-3" />
              <p>Esta enfermedad es causada por un virus que se ingiere e invade el sistema nervioso, lo que puede
                causar
                parálisis total en cuestión de horas e incluso causar la muerte. <sup>7, 8</sup></p>
            </div>
            <div class="col-12 col-lg-6 d-flex align-items-start">
              <img src="/images/orangeico6.png" class="me-3" />
              <p>Sus síntomas pueden ser: dolor en las extremidades, fiebre, cansancio, náuseas, dolor de cabeza,
                vómitos y
                rigidez en el cuello. <sup>7, 8</sup>
              </p>
            </div>

            <div class="col-12 offset-lg-3 col-lg-6 mt-4 d-flex align-items-start">
              <img src="/images/orangeico7.png" class="me-3" />
              <p>La enfermedad no tiene cura, pero es prevenible, si se administra el esquema de la vacuna
                correspondiente,
                se puede conferir protección por toda la vida. <sup>8</sup>
              </p>
            </div>

            <div class="col-12 text-center">
              <a href="#" class="text-orange fw-bold mt-4">
                Conoce sobre la poliomelitis
                <img src="/images/arroworangenext.svg">
              </a>
            </div>
          </div>

          <div class="w-100 my-5"></div>

          <div class="row box-white p-5">
            <div class="col-12 col-lg-6">
              <h3>Meningitis por Hib</h3><br />
              <strong>La meningitis también puede ser causada por haemophilus influenzae tipo
                b.<sup>9</sup></strong><br /><br />
              Haemophilus influenzae tipo b (Hib) es una bacteria que afecta principalmente a los bebés y los niños
              menores
              de 5 años.<sup>9</sup>
            </div>
            <div class="col-12 col-lg-6 mb-4"><img src="/images/heromenin.png" /></div>
            <div class="col-12 offset-lg-1 col-lg-10 mt-4 text-center">
              <p>La enfermedad por Hib es una afección grave causada por la bacteria llamada Haemophilus influenzae tipo
                b
                (Hib). Esta enfermedad puede causar discapacidad de por vida y ser mortal. Las vacunas contra el Hib son
                seguras, y son eficaces para prevenir esta enfermedad.<sup>9</sup>
              </p>
            </div>

            <div class="col-12 text-center">
              <a href="#" class="text-orange fw-bold mt-4">
                Conoce más sobre la meningitis
                <img src="/images/arroworangenext.svg">
              </a>
            </div>
          </div>

          <div class="w-100 my-5"></div>

          <div class="row box-white p-5">
            <div class="col-12 col-lg-6">
              <h3>Difteria</h3><br />
              <strong>Hasta el 50% de los pacientes que no reciben tratamiento sufren un desenlace
                fatal.<sup>10</sup></strong><br /><br />
              La difteria es una enfermedad infectocontagiosa.<sup>10</sup>
            </div>
            <div class="col-12 col-lg-6 mb-4"><img src="/images/heropollo.png" /></div>
            <div class="col-12 col-lg-6 d-flex align-items-start">
              <img src="/images/orangeico8.png" class=" me-3" />
              <p>Sus síntomas principales son dolor de garganta, fiebre, debilidad y ganglios inflamados en el cuello.
                En
                casos más severos, puede causar dificultad o incluso bloquear la respiración. <sup>10</sup></p>
            </div>
            <div class="col-12 col-lg-6 d-flex align-items-start">
              <img src="/images/orangeico9.png" class="me-3" />
              <p>La transmisión se produce a través de gotitas respiratorias eliminadas al toser, estornudar o
                hablar.<sup>11</sup>
              </p>
            </div>

            <div class="col-12 offset-lg-1 col-lg-10 mt-4 text-center">
              <p>Incluso con tratamiento, aproximadamente 1 de cada 10 pacientes morirá. Sin tratamiento, esta
                proporción
                alcanza el 50%. La vacunación es la mejor manera de prevenirla.<sup>12</sup>
              </p>
            </div>

          </div>

          <div class="col-12 offset-lg-3 mt-5 col-lg-6">
            <div class="box-light-orange">
              <img src="/images/personicon.png" />
              <p><span class="text-orange">Consulta con tu médico</span> las vacunas recomendadas para estar protegido
              </p>
            </div>
          </div>

        </div>
      </section>


      <%- include('partials/aprende-sobre-la-vacunacion.html') %>

        <%- include('partials/slider-enfermedades.html') %>

          <section class="container">
            <div class="row">
              <div class="col-12 border-top mt-5 pt-5 referencias">
                <strong>Referencias</strong><br />
                <ul class="mt-3">
                  <li>Dodd D. Benefits of Combination Vaccines: Effective Vaccination on Simplified Schedule. Am J Manag
                    Care.
                    2003;9(Suppl 1):S6-12.</li>
                  <li>Ferina T. Informe de evento [Internet]. Gov.co. [citado el 5 de marzo de 2024]. Disponible en:
                    https://www.ins.gov.co/buscador-eventos/Informesdeevento/TOSFERINA%20INFORME%202021.pdf#:~:text=En%20cuanto%20al%20tipo%20de%20atenci%C3%B3n%2C%201517%20casos,casos%20%2864%2C0%20%25%29%20fueron%20confirmados%20para%20la%20enfermedad
                  </li>
                  <li>La tosferina [Internet]. Cdc.gov. 2024 [cited 2024 Mar 8]. Available from:
                    https://www.cdc.gov/pertussis/about/signs-symptoms-sp.html</li>
                  <li>About tetanus [Internet]. Cdc.gov. 2023 [cited 2024 Mar 8]. Available from:
                    https://www.cdc.gov/tetanus/about/index.html</li>
                  <li>Causes and how it spreads [Internet]. Cdc.gov. 2023 [cited 2024 Mar 8]. Available from:
                    https://www.cdc.gov/tetanus/about/causes-transmission.html</li>
                  <li>Prevention [Internet]. Cdc.gov. 2023 [cited 2024 Mar 8]. Available from:
                    https://www.cdc.gov/tetanus/about/prevention.html</li>
                  <li>CDC. ¿Qué es la poliomielitis? [Internet]. Centers for Disease Control and Prevention. 2024 [cited
                    2024
                    Mar 8]. Available from: https://www.cdc.gov/polio/es/que-es-polio/index.htm</li>
                  <li>Nakoulima AD, Zomahoun LD, Guèye MW, Diop M, Ba Fall KM, Fall IS. Poliomielitis. EMC - Pediatr
                    [Internet].
                    2023 [cited 2024 Mar 8];58(4):1–13. Available from:
                    https://www.who.int/es/news-room/fact-sheets/detail/poliomyelitis</li>
                  <li>CDC. La enfermedad por Hib y la vacuna (inyectable) [Internet]. Centers for Disease Control and
                    Prevention. 2023 [cited 2024 Mar 8]. Available from:
                    https://www.cdc.gov/vaccines/parents/diseases/hib-sp.html.</li>
                  <li>Diphtheria [Internet]. Kidshealth.org. [cited 2024 Mar 8]. Available from:
                    https://kidshealth.org/en/parents/diphtheria.html</li>
                  <li>Difteria [Internet]. Cdc.gov. 2022 [cited 2024 Mar 8]. Available from:
                    https://www.cdc.gov/diphtheria/about/causes-transmission-sp.html</li>
                  <li>Difteria [Internet]. Cdc.gov. 2022 [cited 2024 Mar 8]. Available from:
                    https://www.cdc.gov/diphtheria/about/diagnosis-treatment-sp.html</li>
                  <li>CDC. Vaccine-preventable diseases [Internet]. Centers for Disease Control and Prevention. 2023
                    [citado
                    el
                    2 de marzo de 2024]. Disponible en: https://www.cdc.gov/vaccines/parents/diseases/index.html</li>
                </ul>
                <div class="text-center py-5 fw-bold text-orange">
                  Esta información no pretende sustituir el juicio o consejo proporcionado por su equipo de salud y no
                  debe utilizarse para diagnosticar<br />o dar tratamiento a problemas de salud. Consulte siempre a su
                  médico
                  tratante.
                </div>
              </div>
            </div>
          </section>


          <%- include('partials/footer.html') %>
  </body>

</html>