<!doctype html>
<html lang="es">
<%- include('partials/head.html') %>

  <body>
    <%- include('partials/navigation.html')%>


      <div class="container">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Inicio</a></li>
          <li class="breadcrumb-item"><a href="/lo-clave-de-la-vacunacion">Sobre la Vacunación</a></li>
          <li class="breadcrumb-item active" aria-current="page">Lo clave sobre la vacunación</li>
        </ol>
      </div>


      <div class="container">
        <div class="row">
          <div class="col-12 offset-lg-1 col-lg-6  pt-5 mt-5">
            <h4>Lo que debes saber</h4>
            <h1>Sobre la vacunación</h1>
            <p><strong>Estar al día con las vacunas te ayudará a vivir de 0 a 100.</strong><br />
              Conoce algunos aspectos clave de la vacunación y
              por qué es importante.<br />¡Recuerda que hay una vacuna para cada etapa de la vida!
            </p>
            <a href="#" class="btn btn-custom mt-3">Sigue aprendiendo</a>
          </div>
          <div class="col-4 pt-4">
            <img src="/images/herosobrelavacunacion.png" alt="hero home" />
          </div>
        </div>
      </div>


      <section class="container">
        <div class="row">
          <div class="col-12 mt-5 text-center">

            <a href="/lo-clave-de-la-vacunacion" class="btn btn-custom mt-3">Lo clave de la vacunación</a>
            <a href="/por-que-es-importante-la-vacunacion" class="btn btn-custom-outline mt-3">¿Por qué es
              importante la
              vacunación?
              <img src="/images/double_arrow.svg" />
            </a>

            <h2 class="my-5 pt-4">Lo clave de la vacunación</h2>

            <div class="swiper swiper-tre-notas mt-5">

              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="box-white postion-relative">
                    <span class="float-category">Lo clave sobre la vacunación</span>
                    <a href="/los-adolescentes-tambien-deben-vacunarse">
                      <img src="/images/img-Card1.png" class="img-thumb-notas" />
                    </a>
                    <h2 class="text-start">Los adolescentes también deben vacuanarse</h2>
                    <p class="text-start">Encuentra aquí por qué es importante la vacunación en esta etapa de la vida y
                      algunas de las
                      enfermedades que pueden prevenirse.</p>
                    <a href="/los-adolescentes-tambien-deben-vacunarse" class="text-orange fw-bold">Continuar
                      leyendo
                      <img src="/images/arroworangenext.svg"></a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="box-white postion-relative">
                    <span class="float-category">Lo clave sobre la vacunación</span>
                    <a href="/descubre-los-beneficios-de-las-vacunas-combinadas">
                      <img src="/images/img-Card2.png" class="img-thumb-notas" />
                    </a>
                    <h2>Descubre los beneficios de las vacunas combinadas</h2>
                    <p>¿Has oído hablar de las vacunas combinadas? Estas te ayudarán a protegerte de diversas
                      enfermedades y
                      a vivir de 0 a 100.</p>
                    <a href="/descubre-los-beneficios-de-las-vacunas-combinadas" class="text-orange fw-bold">Continuar
                      leyendo <img src="/images/arroworangenext.svg"></a>
                  </div>
                </div>
              </div>

              <div class="swiper-pagination"></div>
            </div>

          </div>
      </section>


      <%- include('partials/double-box.html') %>

        <%- include('partials/slider-enfermedades.html') %>


          <section class="container">
            <div class="row">
              <div class="col-12 border-top mt-5 pt-5 referencias">
                <strong>Referencias</strong><br />
                <ul class="mt-3">

                  <li>Dodd D. Benefits of Combination Vaccines: Effective Vaccination on Simplified Schedule. Am J Manag
                    Care.
                    2003;9(Suppl 1):S6-12.</li>
                  <li>Ferina T. Informe de evento [Internet]. Gov.co. [citado el 5 de marzo de 2024]. Disponible en:
                    https://www.ins.gov.co/buscador-eventos/Informesdeevento/TOSFERINA%20INFORME%202021.pdf
                  </li>
                  <li>La tosferina [Internet]. Cdc.gov. 2024 [cited 2024 Mar 8]. Available from:
                    https://www.cdc.gov/pertussis/about/signs-symptoms-sp.html</li>
                  <li>About tetanus [Internet]. Cdc.gov. 2023 [cited 2024 Mar 8]. Available from:
                    https://www.cdc.gov/tetanus/about/index.html</li>
                  <li>Causes and how it spreads [Internet]. Cdc.gov. 2023 [cited 2024 Mar 8]. Available from:
                    https://www.cdc.gov/tetanus/about/causes-transmission.html</li>
                  <li>Prevention [Internet]. Cdc.gov. 2023 [cited 2024 Mar 8]. Available from:
                    https://www.cdc.gov/tetanus/about/prevention.html</li>
                  <li>CDC. ¿Qué es la poliomielitis? [Internet]. Centers for Disease Control and Prevention. 2024 [cited
                    2024
                    Mar 8]. Available from: https://www.cdc.gov/polio/es/que-es-polio/index.htm</li>
                  <li>Nakoulima AD, Zomahoun LD, Guèye MW, Diop M, Ba Fall KM, Fall IS. Poliomielitis. EMC - Pediatr
                    [Internet].
                    2023 [cited 2024 Mar 8];58(4):1–13. Available from:
                    https://www.who.int/es/news-room/fact-sheets/detail/poliomyelitis</li>
                  <li>CDC. La enfermedad por Hib y la vacuna (inyectable) [Internet]. Centers for Disease Control and
                    Prevention. 2023 [cited 2024 Mar 8]. Available from:
                    https://www.cdc.gov/vaccines/parents/diseases/hib-sp.html.</li>
                  <li>Diphtheria [Internet]. Kidshealth.org. [cited 2024 Mar 8]. Available from:
                    https://kidshealth.org/en/parents/diphtheria.html</li>
                  <li>Difteria [Internet]. Cdc.gov. 2022 [cited 2024 Mar 8]. Available from:
                    https://www.cdc.gov/diphtheria/about/causes-transmission-sp.html</li>
                  <li>Difteria [Internet]. Cdc.gov. 2022 [cited 2024 Mar 8]. Available from:
                    https://www.cdc.gov/diphtheria/about/diagnosis-treatment-sp.html</li>
                  <li>CDC. Vaccine-preventable diseases [Internet]. Centers for Disease Control and Prevention. 2023
                    [citado
                    el
                    2 de marzo de 2024]. Disponible en: https://www.cdc.gov/vaccines/parents/diseases/index.html</li>
                </ul>
                <div class="text-center py-5 fw-bold text-orange">
                  Esta información no pretende sustituir el juicio o consejo proporcionado por su equipo de salud y no
                  debe utilizarse para diagnosticar<br />o dar tratamiento a problemas de salud. Consulte siempre a su
                  médico
                  tratante.
                </div>
              </div>
            </div>
          </section>

          <%- include('partials/footer.html') %>
  </body>

</html>