<!doctype html>
<html lang="es">
<%- include('partials/head.html') %>

  <body>
    <%- include('partials/navigation.html')%>

      <div class="container">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Inicio</a></li>
          <li class="breadcrumb-item"><a href="/lo-clave-de-la-vacunacion">Sobre la Vacunación</a></li>
          <li class="breadcrumb-item"><a href="/lo-clave-de-la-vacunacion">Lo clave de la vacunación</a></li>
          <li class="breadcrumb-item active" aria-current="page">Los adolescentes también deben vacunarse</li>
        </ol>
      </div>


      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-7 pt-5 mt-5">
            <h4>Lo clave de la vacunación</h4>
            <h1>Los adolescentes<br />también deben vacunarse</h1>
            <p>Descubre aquí por qué en esta etapa de la vida es importante la vacunación y algunas de las enfermedades
              que
              pueden prevenirse mediante esta.
            </p>
            <a href="#sigue-aprendiendo" id="sigue-aprendiendo" class=" btn btn-custom mt-3">Sigue aprendiendo <img
                src="/images/arrow_downward.svg" class="ms-2" /></a>
          </div>
          <div class="col-5 pt-4">
            <img src="/images/heroteen.png" alt="hero home" />
          </div>
        </div>
      </div>


      <section class="container">
        <div class="row">
          <div class="col-12 my-5 text-center">
            <p>
              Los adolescentes pueden portar bacterias sin desarrollar enfermedades, por ejemplo, Neisseria
              meningitidis, la
              bacteria que causa la meningitis meningocócica, puede estar presente en la nasofaringe de aproximadamente
              el
              10% de los adolescentes sanos. Por eso, es esencial vacunarlos, no solo para su protección individual,
              sino
              también para disminuir la circulación de la bacteria.<sup>1</sup><br /><br />
              Actualmente, existen vacunas para la protección de varias enfermedades graves en este grupo de edad.
              Conoce
              algunas de estas enfermedades que pueden prevenirse mediante la vacunación.
            </p>
          </div>

          <div class="col-12 col-lg-6">
            <img src="/images/latdv1.png" />
          </div>
          <div class="col-12 col-lg-6 text-start d-flex flex-column justify-content-around align-items-start">
            <h2>¿Por qué es importante la vacunación?</h2>
            <p>La meningitis es una infección bacteriana grave que puede causar secuelas y en ciertos casos provocar el
              fallecimiento. El meningococo, una bacteria que causa la enfermedad meningocócica, se puede transmitir de
              una persona a otra a través del contacto directo con gotitas respiratorias o secreciones de la
              garganta.<sup>2</sup></p>
            <br />
            <a href="#" class="text-orange fw-bold">Conoce más sobre la meningitis por meningococo <img
                src="/images/arroworangenext.svg"></a>
          </div>

          <div class="w-100 my-5"></div>

          <div class="col-12 col-lg-6 text-start d-flex flex-column justify-content-around align-items-start">
            <h2>¿Por qué es importante la vacunación?</h2>
            <p>La meningitis es una infección bacteriana grave que puede causar secuelas y en ciertos casos provocar el
              fallecimiento. El meningococo, una bacteria que causa la enfermedad meningocócica, se puede transmitir de
              una persona a otra a través del contacto directo con gotitas respiratorias o secreciones de la
              garganta.<sup>2</sup></p>
            <br />
            <a href="#" class="text-orange fw-bold">Conoce más sobre la meningitis por meningococo <img
                src="/images/arroworangenext.svg"></a>
          </div>
          <div class="col-12 col-lg-6">
            <img src="/images/latdv2.png" />
          </div>

          <div class="w-100 my-5"></div>

          <div class="col-12 col-lg-6">
            <img src="/images/latdv3.png" />
          </div>
          <div class="col-12 col-lg-6 text-start d-flex flex-column justify-content-around align-items-start">
            <h2>¿Por qué es importante la vacunación?</h2>
            <p>La meningitis es una infección bacteriana grave que puede causar secuelas y en ciertos casos provocar el
              fallecimiento. El meningococo, una bacteria que causa la enfermedad meningocócica, se puede transmitir de
              una persona a otra a través del contacto directo con gotitas respiratorias o secreciones de la
              garganta.<sup>2</sup></p>
            <br />
            <a href="#" class="text-orange fw-bold">Conoce más sobre la meningitis por meningococo <img
                src="/images/arroworangenext.svg"></a>
          </div>

          <div class="w-100 my-5"></div>

          <div class="col-12 col-lg-6 text-start d-flex flex-column justify-content-around align-items-start">
            <h2>¿Por qué es importante la vacunación?</h2>
            <p>La meningitis es una infección bacteriana grave que puede causar secuelas y en ciertos casos provocar el
              fallecimiento. El meningococo, una bacteria que causa la enfermedad meningocócica, se puede transmitir de
              una persona a otra a través del contacto directo con gotitas respiratorias o secreciones de la
              garganta.<sup>2</sup></p>
            <br />
            <a href="#" class="text-orange fw-bold">Conoce más sobre la meningitis por meningococo <img
                src="/images/arroworangenext.svg"></a>
          </div>
          <div class="col-12 col-lg-6">
            <img src="/images/latdv4.png" />
          </div>

          <div class="col-12 offset-lg-3 mt-5 col-lg-6">
            <div class="box-light-orange">
              <img src="/images/personicon.png" />
              <p>Por favor, <span class="text-orange">consulte con su médico</span> para determinar las mejores maneras
                para
                los adolescentes de prevenir estas
                y otras enfermedades.</p>
            </div>
          </div>

        </div>
      </section>


      <%- include('partials/aprende-sobre-la-vacunacion.html') %>

        <%- include('partials/slider-enfermedades.html') %>


          <section class="container">
            <div class="row">
              <div class="col-12 border-top mt-5 pt-5 referencias">
                <strong>Referencias</strong><br />
                <ul class="mt-3">
                  <li>Christensen H, May M, Bowen L, Hickman M, Trotter CL. Meningococcal carriage by age: a systematic
                    review
                    and meta-analysis. Lancet Infect Dis [Internet]. 2010;10(12):853–61. Available from:
                    http://dx.doi.org/10.1016/S1473-3099(10)70251-6</li>
                  <li>Meningitis [Internet]. Who.int. [cited 2024 Mar 8]. Available from:
                    https://www.who.int/es/news-room/fact-sheets/detail/meningitis</li>
                  <li>Hepatitis A [Internet]. Who.int. [cited 2024 Mar 8]. Available from:
                    https://www.who.int/es/news-room/fact-sheets/detail/hepatitis-a</li>
                  <li>Hepatitis B [Internet]. Who.int. [cited 2024 Mar 8]. Available from:
                    https://www.who.int/es/news-room/fact-sheets/detail/hepatitis-b </li>
                  <li>Measles [Internet]. Cdc.gov. [cited 2024 Mar 8]. Available from:
                    https://wwwnc.cdc.gov/travel/diseases/measles</li>
                  <li>Measles [Internet]. Who.int. [cited 2024 Mar 8]. Available from:
                    https://www.who.int/news-room/fact-sheets/detail/measles</li>
                  <li>CDC. Vaccine-preventable diseases [Internet]. Centers for Disease Control and Prevention. 2023
                    [citado
                    el
                    2 de marzo de 2024]. Disponible en: https://www.cdc.gov/vaccines/parents/diseases/index.html</li>
                </ul>
                <div class="text-center py-5 fw-bold text-orange">
                  Esta información no pretende sustituir el juicio o consejo proporcionado por su equipo de salud y no
                  debe utilizarse para diagnosticar<br />o dar tratamiento a problemas de salud. Consulte siempre a su
                  médico
                  tratante.
                </div>
              </div>
            </div>
          </section>

          <%- include('partials/footer.html') %>
  </body>

</html>