<!doctype html>
<html lang="es">
<%- include('partials/head.html') %>

  <body>
    <%- include('partials/navigation.html')%>



      <div class="container">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Inicio</a></li>
          <li class="breadcrumb-item"><a href="/lo-clave-de-la-vacunacion">Sobre la Vacunación</a></li>
          <li class="breadcrumb-item"><a href="/por-que-es-importante-la-vacunacion">¿Por qué es importante la
              vacunación?</a></li>
          <li class="breadcrumb-item active" aria-current="page">Tener todas las vacunas recomendadas al día puede
            mejorar
            tu salud y la de tus hijos</li>
        </ol>
      </div>


      <div class="container my-4">
        <div class="row">
          <div class="col-12 col-lg-7 pt-3">
            <h4>¿Por qué es importante la vacunación?</h4>
            <h1>Tener todas las vacunas recomendadas al día puede mejorar tu salud y la de tus hijos</h1>
            <p>Asegúrate de mantener actualizadas tus vacunas y las de tus hijos, para protegerte de diversas
              enfermedades y
              vivir de 0 a 100.
            </p>
            <a href="#sigue-aprendiendo" id="sigue-aprendiendo" class=" btn btn-custom mt-3">Sigue aprendiendo <img
                src="/images/arrow_downward.svg" class="ms-2" /></a>
          </div>
          <div class="col-5 pt-4">
            <img src="/images/herotenertodas.png" alt="hero home" />
          </div>
        </div>
      </div>


      <section class="container">
        <div class="row">
          <div class="col-12 my-5">

            <p class="text-center px-5 mx-3">Al iniciar un nuevo año, una vez más se destaca la importancia de las
              vacunas
              en la
              agenda. Esto se debe no
              solo a la atención que los padres prestan a las próximas dosis para sus hijos, sino también a los
              esfuerzos
              adicionales de las autoridades sanitarias, quienes trabajan para garantizar una cobertura amplia y
              efectiva
              durante este periodo.</p>

            <div class="d-flex align-items-start my-4">
              <img src="/images/orangebigico1.png" class="me-3" />
              <p>
                De hecho, este último punto adquiere mayor relevancia si se tiene en cuenta que, al concluir el 2023,
                las
                autoridades levantaron una alerta debido a que Colombia no alcanzó las metas de cobertura de vacunación
                infantil. <sup>1</sup> Según los datos revelados por la Procuraduría General de la Nación frente a los
                avances
                del Ministerio de Salud en materia de vacunación, solo el 71% de los niños y niñas menores de 1 año
                recibió
                la
                vacuna BCG (Tuberculosis), y el 75% recibió la dosis de pentavalente, que protege contra 5 enfermedades:
                difteria, tos convulsa, tétanos, influenza tipo b y Hepatitis B. La meta estaba establecida para
                alcanzar el
                95%.<sup>1</sup><br />
                <strong>Por ello, es indispensable que para alcanzar una protección colectiva, las vacunas estén
                  completas y
                  se refuercen con el paso de los años.</strong>
              </p>
            </div>

            En este contexto, GSK busca contribuir a la difusión de información clara y precisa sobre las vacunas,
            enfocándose en sensibilizar a la población no solo acerca de la importancia de conocer qué vacuna
            corresponde a
            cada edad, sino también sobre la relevancia de mantenerse al día con las vacunas recomendadas según cada
            etapa.
            <strong class="d-block mt-5 mb-3">¿Qué vacunas corresponden a qué edad?</strong>
            La existencia de vacunas específicas para cada etapa
            de la vida responde a diversos motivos relacionados con el desarrollo del sistema inmunológico, la
            preparación
            ante la vulnerabilidad a enfermedades, la prevención de brotes y transmisión y la exposición
            ambiental.<sup>2</sup><br />
            Aunque los esquemas de vacunación y las recomendaciones específicas de las autoridades de salud pueden
            variar
            según el país, existe una guía general sobre las vacunas y las edades en las que cada una de ellas debe
            administrarse. Desde las primeras etapas de la vida, con vacunas como la antituberculosa (BCG) y la
            hepatitis B,
            hasta la edad adulta mayor, en la que se combaten la influenza estacional y el tétanos.<sup>2</sup>

          </div>


          <div class="col-12 offset-lg-1 mt-5 col-lg-10 ">
            <div class="box-normal-orange text-center">
              <strong>Encuentra aquí las vacunas recomendadas<br />según cada etapa de la vida</strong>
              <a href="#" class="btn btn-custom-outline mt-2">Conoce las vacunas recomendadas
                <img src="/images/double_arrow.svg"></a>
            </div>
          </div>

        </div>
      </section>


      <%- include('partials/aprende-sobre-la-vacunacion.html') %>

        <%- include('partials/slider-enfermedades.html') %>


          <section class="container">
            <div class="row">
              <div class="col-12 border-top mt-5 pt-5 referencias">
                <strong>Referencias</strong><br />
                <ul class="mt-3">
                  <li>CDC. Vacunas para adultos: Razones para vacunarse [Internet]. Centers for Disease Control and
                    Prevention.
                    2022 [cited 2024 Mar 8]. Available from:
                    https://www.cdc.gov/vaccines/adults/reasons-to-vaccinate-sp.html
                  </li>
                  <li>de Colombia M de S y. PS. Programa Ampliado de Inmunizaciones (PAI) [Internet]. Gov.co. [cited
                    2024
                    Mar
                    8]. Available from:
                    https://www.minsalud.gov.co/salud/Paginas/ProgramaAmpliadodeInmunizaciones(PAI).aspx
                  </li>
                  <li>Who.int. [cited 2024 Mar 8]. Available from:
                    https://www.who.int/es/news-room/fact-sheets/detail/immunization-coverage.</li>
                  <li>Vacunas e inmunización: ¿qué es la vacunación? [Internet]. Who.int. [cited 2024 Mar 8]. Available
                    from:
                    https://www.who.int/es/news-room/questions-and-answers/item/vaccines-and-immunization-what-is-vaccination
                  </li>
                  <li>CDC. Vaccine-preventable diseases [Internet]. Centers for Disease Control and Prevention. 2023
                    [cited
                    2024
                    Mar 8]. Available from: https://www.cdc.gov/vaccines/parents/diseases/index.html</li>
                </ul>
                <div class="text-center py-5 fw-bold text-orange">
                  Esta información no pretende sustituir el juicio o consejo proporcionado por su equipo de salud y no
                  debe utilizarse para diagnosticar<br />o dar tratamiento a problemas de salud. Consulte siempre a su
                  médico
                  tratante.
                </div>
              </div>
            </div>
          </section>

          <%- include('partials/footer.html') %>
  </body>

</html>