<!doctype html>
<html lang="es">
<%- include('partials/head.html') %>

  <body>
    <%- include('partials/navigation.html')%>


      <div class="container">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Inicio</a></li>
          <li class="breadcrumb-item"><a href="/lo-clave-de-la-vacunacion">Sobre la Vacunación</a></li>
          <li class="breadcrumb-item active" aria-current="page">Vacunas recomendadas según etapas de la vida</li>
        </ol>
      </div>


      <div class="container">
        <div class="row">
          <div class="col-12 pt-5 mt-5 text-center">
            <h1>Conoce las vacunas recomendadas<br />según etapas de la vida</h1>
            <p>Selecciona uno de los grupos</p>
          </div>


          <div class="col-12 p-5">

            <div class="wrap-flex-thumb-categorys">
              <a href="#" class="thumb-categorys " data-category="bebes">
                Bebés
                <img src="/images/arrow_forward.svg" alt="Ver más" title="Ver más" />
              </a>


              <a href="#" class="thumb-categorys " data-category="Ninos">
                Niños
                <img src="/images/arrow_forward.svg" alt="Ver más" title="Ver más" />
              </a>

              <a href="#" class="thumb-categorys " data-category="Adolescentes">
                Adolescentes
                <img src="/images/arrow_forward.svg" alt="Ver más" title="Ver más" />
              </a>


              <a href="#" class="thumb-categorys " data-category="Adultos">
                Adultos
                <img src="/images/arrow_forward.svg" alt="Ver más" title="Ver más" />
              </a>

              <a href="#" class="thumb-categorys " data-category="Mujeres-embarazadas">
                Mujeres<br />embarazadas
                <img src="/images/arrow_forward.svg" alt="Ver más" title="Ver más" />
              </a>

              <a href="#" class="thumb-categorys" data-category="Adultos-mayores">
                Adultos<br />mayores
                <img src="/images/arrow_forward.svg" alt="Ver más" title="Ver más" />
              </a>
            </div>
          </div>
        </div>
      </div>



      <section class="container">
        <div class="row">
          <div class="col-12 border-top mt-5 pt-5 referencias">
            <strong>Referencias</strong><br />
            <ul class="mt-3">
              <li>for ages 18 years or younger. Recommended child and adolescent immunization schedule [Internet].
                Cdc.gov. [citado el 18 de marzo de 2024]. Disponible en:
                https://www.cdc.gov/vaccines/schedules/downloads/child/0-18yrs-child-combined-schedule.pdf</li>
              <li>de Colombia M de S y. PS. Esquemas de Vacunación [Internet]. Gov.co. [citado el 18 de marzo de 2024].
                Disponible en: https://www.minsalud.gov.co/proteccionsocial/Paginas/EsquemasdeVaunaci%C3%B3n.aspx</li>
              <li>Tuberculosa M. EDAD VACUNA DOSIS ENFERMEDAD QUE PREVIENE [Internet]. Gov.co. [citado el 18 de marzo de
                2024]. Disponible en:
                https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/VS/PP/ET/afiche-esquema-vacunacion-col.pdf
              </li>
              <li>for ages 19 years or older. Recommended adult immunization schedule [Internet]. Cdc.gov. [citado el 20
                de marzo de 2024]. Disponible en:
                https://www.cdc.gov/vaccines/schedules/downloads/adult/adult-combined-schedule.pdf </li>
            </ul>
            <div class="text-center py-5 fw-bold text-orange">
              Esta información no pretende sustituir el juicio o consejo proporcionado por su equipo de salud y no
              debe utilizarse para diagnosticar<br />o dar tratamiento a problemas de salud. Consulte siempre a su
              médico
              tratante.
            </div>
          </div>
        </div>
      </section>

      <%- include('partials/footer.html') %>
  </body>

</html>