<div class="container">
  <h2 class="text-center mt-5">Aprende sobre la vacunación</h2>

  <div class="swiper swiper-tre-notas mt-5">

    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="box-white postion-relative">
          <span class="float-category">¿Por qué es importante la vacunación?</span>
          <img src="/images/img-Card3.png" />
          <h2>Tener todas las vacunas recomendadas al día puede mejorar tu salud y la de tus hijos</h2>
          <p>Recuerda mantener actualizadas tus vacunas y las de tus hijos, para protegerte de diversas
            enfermedades y vivir de 0 a 100.</p>
          <a href="#" class="text-orange fw-bold">Continuar leyendo <img src="/images/arroworangenext.svg"></a>
        </div>
      </div>
      <div class="swiper-slide swiper-slide-next" role="group" aria-label="2 / 2"
        style="width: 412px; margin-right: 30px;">
        <div class="box-white postion-relative">
          <span class="float-category">Lo clave sobre la vacunación</span>
          <img src="/images/img-Card2.png">
          <h2>Descubre los beneficios de las vacunas combinadas</h2>
          <p>¿Has oído hablar de las vacunas combinadas? Estas te ayudarán a protegerte de diversas enfermedades y
            a vivir de 0 a 100.</p>
          <a href="#" class="text-orange fw-bold">Continuar leyendo <img src="/images/arroworangenext.svg"></a>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="box-white postion-relative">
          <span class="float-category">¿Por qué es importante la vacunación?</span>
          <img src="/images/img-Card4.png" />
          <h2>Razones para vacunarse</h2>
          <p>En cada momento de la vida hay una razón para cuidarte y así poder seguir disfrutando. Por eso,
            queremos compartirte algunos motivos por los cuáles es recomendable vacunarse.</p>
          <a href="#" class="text-orange fw-bold">Continuar leyendo <img src="/images/arroworangenext.svg"></a>
        </div>
      </div>
    </div>

    <div class="swiper-pagination"></div>
  </div>
</div>