<section class="container mb-5">
  <div class="row wrap-box-white my-5">
    <div class="col-12 col-lg-6 my-5">
      <div class="ep-card-orange p-5 text-start">
        <h3 class="fw-bold">Descubre las vacunas recomendadas según la etapa de vida</h3>
        <p>Recuerda mantener actualizadas tus vacunas y las de tus hijos, para protegerte de diversas
          enfermedades y vivir de 0 a 100.</p>
        <a href="/vacunas-recomendadas" class="btn btn-custom-outline mt-4">Conoce las vacunas recomendadas
          <img src="/images/double_arrow.svg"></a>
      </div>
    </div>
    <div class="col-12 col-lg-6 my-5">
      <div class="ep-card-white p-5 text-start">
        <h3 class="fw-bold ">Encuentra el punto de vacunación más cercano</h3>
        <p>Descubre los centros médicos disponibles para recibir tus vacunas.</p>
        <a href="/encuentra-un-punto-de-vacunacion" class="btn btn-custom mt-4">¿Dónde vacunarme?</a>
      </div>
    </div>
  </div>
</section>