<header class="container">
  <a href="/" class="logo">
    <img src="/images/Logo.svg" alt="#mevacunopor" title="#mevacunopor" />
  </a>
  <nav>
    <div class="wrap-menu">
      <a href="#" id="nav-first">Sobre la vacunación <img src="/images/expand_more_orange.svg" alt="arrow" /></a>
      <a href="#" id="nav-second">Enfermedades Prevenibles <img src="/images/expand_more_orange.svg" alt="arrow" /></a>
      <a href="/encuentra-un-punto-de-vacunacion">Encuentra un punto de vacunación <img src="/images/Location_off.svg"
          alt="arrow" /></a>
      <a href="#" id="nav-magnifier"><img src="/images/magnifier.svg" alt="search" title="search" /></a>
    </div>
    <div class="wrap-nav-extend">

      <div class="submenu-first">
        <div class="submenu-detalle">
          <h2 class="text-orange fw-bold">Sobre la vacunación</h2>
          Tu guía sobre la vacunación: aprende sobre su importancia
          y encuentra toda la información
          que necesitas en nuestra sección informativa.
          <br />
          <a href="/lo-clave-de-la-vacunacion" class="d-block">
            <img class="mt-5" src="/images/arrow_forward_black.svg" alt="->" />
          </a>
        </div>
        <div class="submenu-links">
          <a href="/vacunas-recomendadas">
            <span>Vacunas recomendadas según etapas de la vida</span>
            <img src="/images/arrow_forward_black.svg" alt="->" />
          </a>
          <a href="/lo-clave-de-la-vacunacion">
            <span>Lo clave sobre la vacunación</span>
            <img src="/images/arrow_forward_black.svg" alt="->" />
          </a>
          <a href="/por-que-es-importante-la-vacunacion">
            <span>¿Por qué es importante la vacunación?</span>
            <img src="/images/arrow_forward_black.svg" alt="->" />
          </a>
        </div>
      </div>

      <div class="submenu-second">
        <div class="submenu-detalle">
          <h2 class="text-orange fw-bold">Enfermedades Prevenibles</h2>
          Prevenir está en tus manos. Aprende sobre enfermedades prevenibles, comprende sus riesgos y adopta medidas
          informadas para que tú y tus seres queridos puedan vivir de 0 a 100.
          <br />
          <a href="/enfermedades-prevenibles" class="d-block">
            <img class="mt-5" src="/images/arrow_forward_black.svg" alt="->" />
          </a>
        </div>
        <div class="submenu-links">
          <a href="/enfermedades-prevenibles">
            <span>Todas las enfermedades</span>
            <img src="/images/arrow_forward_black.svg" alt="->" />
          </a>
          <a href="#">
            <span>Bebés (0-3 años)</span>
            <img src="/images/arrow_forward_black.svg" alt="->" />
          </a>
          <a href="#">
            <span>Niños (4-11 años)</span>
            <img src="/images/arrow_forward_black.svg" alt="->" />
          </a>
          <a href="#">
            <span>Adolescentes (12-19 años)</span>
            <img src="/images/arrow_forward_black.svg" alt="->" />
          </a>
          <a href="#">
            <span>Adultos (de 19 a 49 años)</span>
            <img src="/images/arrow_forward_black.svg" alt="->" />
          </a>
          <a href="#">
            <span>Adultos mayores (+50 años)</span>
            <img src="/images/arrow_forward_black.svg" alt="->" />
          </a>
        </div>
      </div>

      <div class="submenu-magnifier">
        <input type="text" name="search-word" />
        <input type="submit" class="btn btn-custom" value="Buscar" />
      </div>

    </div>
  </nav>
</header>