<section class="container-fluid g-0">

  <!-- Slider main container -->
  <div class="swiper swiper-disease">

    <div class="container">
      <div class="row mt-5">
        <div class="col-12 text-center">
          <h2>Descubre las enfermedades prevenibles por vacunación<sup>1</sup> <sup>3</sup></h2>
        </div>
      </div>
    </div>
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <div class="thumb-disease box-white ">
          <ul class="category-misc">
            <li data-color="green">&nbsp;</li>
            <li data-color="blue">&nbsp;</li>
            <li data-color="violet">&nbsp;</li>
            <li data-color="yellow">&nbsp;</li>
            <li data-color="red">&nbsp;</li>
            <li data-color="orange">&nbsp;</li>
          </ul>
          <img src="/images/thiumbenfermedadneumocco.png" alt="Enfermedad Neumocócica" />
          <h2>Enfermedad<br />Neumocócica</h2>
          <a href="#" class="text-orange fw-bold">Conoce más <img src="/images/arroworangenext.svg" /></a>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="thumb-disease box-white ">
          <ul class="category-misc">
            <li data-color="green">&nbsp;</li>
            <li data-color="blue">&nbsp;</li>
            <li data-color="violet">&nbsp;</li>
            <li data-color="orange">&nbsp;</li>
          </ul>
          <img src="/images/thiumbenfermedadneumocco.png" alt="Enfermedad Neumocócica" />
          <h2>Enfermedad<br />Neumocócica</h2>
          <a href="#" class="text-orange fw-bold">Conoce más <img src="/images/arroworangenext.svg" /></a>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="thumb-disease box-white ">
          <ul class="category-misc">
            <li data-color="green">&nbsp;</li>
          </ul>
          <img src="/images/thiumbenfermedadneumocco.png" alt="Enfermedad Neumocócica" />
          <h2>Enfermedad<br />Neumocócica</h2>
          <a href="#" class="text-orange fw-bold">Conoce más <img src="/images/arroworangenext.svg" /></a>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="thumb-disease box-white ">
          <ul class="category-misc">
            <li data-color="green">&nbsp;</li>
          </ul>
          <img src="/images/thiumbenfermedadneumocco.png" alt="Enfermedad Neumocócica" />
          <h2>Enfermedad<br />Neumocócica</h2>
          <a href="#" class="text-orange fw-bold">Conoce más <img src="/images/arroworangenext.svg" /></a>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="thumb-disease box-white ">
          <ul class="category-misc">
            <li data-color="green">&nbsp;</li>
          </ul>
          <img src="/images/thiumbenfermedadneumocco.png" alt="Enfermedad Neumocócica" />
          <h2>Enfermedad<br />Neumocócica</h2>
          <a href="#" class="text-orange fw-bold">Conoce más <img src="/images/arroworangenext.svg" /></a>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="thumb-disease box-white ">
          <ul class="category-misc">
            <li data-color="green">&nbsp;</li>
          </ul>
          <img src="/images/thiumbenfermedadneumocco.png" alt="Enfermedad Neumocócica" />
          <h2>Enfermedad<br />Neumocócica</h2>
          <a href="#" class="text-orange fw-bold">Conoce más <img src="/images/arroworangenext.svg" /></a>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="thumb-disease box-white ">
          <ul class="category-misc">
            <li data-color="green">&nbsp;</li>
          </ul>
          <img src="/images/thiumbenfermedadneumocco.png" alt="Enfermedad Neumocócica" />
          <h2>Enfermedad<br />Neumocócica</h2>
          <a href="#" class="text-orange fw-bold">Conoce más <img src="/images/arroworangenext.svg" /></a>
        </div>
      </div>
    </div>
    <div class="swiper-pagination pb-4"></div>
  </div>

</section>